.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#08131f,#121826);

}

.login-card{

display:flex;

flex-direction:column;

gap:18px;

width:380px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

box-shadow:0 8px 35px rgba(0,0,0,.3);

}

.login-card h1{

color:white;

text-align:center;

}

.login-card input{

padding:15px;

border:none;

border-radius:12px;

font-size:16px;

outline:none;

}

.login-card button{

padding:15px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:bold;

transition:.25s;

}

.login-card button:hover{

transform:translateY(-2px);

}

.login-card button:first-of-type{

background:#00D4FF;

color:black;

}

.google-btn{

background:white;

color:#222;

}

.login-card p{

color:white;

text-align:center;

}

.login-card a{

color:#00D4FF;

text-decoration:none;

font-weight:bold;

}