.auth-page{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(135deg,#08131f,#111827);

}

.auth-card{

display:flex;
flex-direction:column;
gap:20px;

padding:40px;

width:380px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border-radius:20px;

}

.auth-card h1{

color:white;
text-align:center;

}

.auth-card input{

padding:14px;

border:none;

border-radius:10px;

outline:none;

}

.auth-card button{

padding:14px;

border:none;

border-radius:10px;

background:#00D4FF;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.auth-card button:hover{

transform:translateY(-2px);

}