.safety-ring-container{

position:relative;

width:220px;

height:220px;

margin:10px auto 40px;

display:flex;

justify-content:center;

align-items:center;

}

.ring-svg{

transform:rotate(-90deg);

overflow:visible;

}

.ring-bg{

fill:none;

stroke:#1E293B;

stroke-width:16;

}

.ring-progress{

fill:none;

stroke:url(#ringGradient);

stroke-width:16;

stroke-linecap:round;

filter:

drop-shadow(0 0 18px #00E5FF)

drop-shadow(0 0 30px #FF4FD8);

}

.ring-content{

position:absolute;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}

.ring-content h1{

font-size:3.5rem;

color:white;

margin:0;

font-weight:800;

}

.ring-content span{

margin-top:-5px;

color:#00E5FF;

font-weight:700;

letter-spacing:2px;

}

.safety-ring-container::before{

content:"";

position:absolute;

width:260px;

height:260px;

border-radius:50%;

background:

radial-gradient(

rgba(0,229,255,.15),

transparent 70%

);

animation:pulseGlow 4s infinite;

z-index:-1;

}

@keyframes pulseGlow{

0%,100%{

transform:scale(1);

opacity:.5;

}

50%{

transform:scale(1.1);

opacity:1;

}

}