.report-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

background:#08111f;

}

.report-card{

width:100%;

max-width:500px;

background:rgba(255,255,255,.07);

backdrop-filter:blur(18px);

padding:30px;

border-radius:25px;

display:flex;

flex-direction:column;

gap:18px;

}

.report-card h1{

color:white;

margin-bottom:10px;

}

.report-card input,
.report-card select,
.report-card textarea{

padding:16px;

border:none;

border-radius:15px;

font-size:16px;

outline:none;

}

.report-card button{

padding:18px;

border:none;

border-radius:15px;

background:#6C63FF;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.report-card button:hover{

transform:translateY(-3px);

}