.logout{

margin-top:30px;

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:#ef4444;

color:white;

font-size:17px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:12px;

transition:.3s;

}

.logout:hover{

transform:translateY(-5px);

}