.map-card{

margin-top:30px;

padding:24px;

border-radius:28px;

background:rgba(17,24,39,.82);

backdrop-filter:blur(30px);

border:1px solid rgba(255,255,255,.06);

box-shadow:

0 0 50px rgba(0,229,255,.08);

}

.map-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.map-header h3{

color:white;

margin:0;

}

.map-header span{

color:#9CA3AF;

font-size:.82rem;

}

.map-area{

height:220px;

position:relative;

overflow:hidden;

border-radius:20px;

background:#0A1122;

}

.map-svg{

width:100%;

height:100%;

}

.route{

fill:none;

stroke:url(#route);

stroke-width:6;

stroke-linecap:round;

stroke-dasharray:700;

stroke-dashoffset:700;

animation:

draw 3s forwards,

glow 2s infinite alternate;

}

@keyframes draw{

to{

stroke-dashoffset:0;

}

}

@keyframes glow{

from{

filter:drop-shadow(0 0 10px #00E5FF);

}

to{

filter:drop-shadow(0 0 25px #FF4FD8);

}

}

.pin{

position:absolute;

width:16px;

height:16px;

border-radius:50%;

background:#00E5FF;

box-shadow:0 0 15px #00E5FF;

}

.pin1{

left:22px;

bottom:25px;

}

.pin2{

right:18px;

top:18px;

background:#FF4FD8;

box-shadow:0 0 15px #FF4FD8;

}

.danger{

position:absolute;

width:60px;

height:60px;

border-radius:50%;

background:rgba(255,0,80,.22);

right:90px;

bottom:55px;

filter:blur(8px);

}

.car{

position:absolute;

left:18px;

bottom:18px;

color:white;

filter:drop-shadow(0 0 12px #00E5FF);

offset-path:path("M30 180 C80 110 140 140 180 70 S270 60 295 30");

}

.status-row{

margin-top:18px;

display:flex;

justify-content:space-between;

}

.status{

padding:10px 16px;

border-radius:999px;

background:rgba(255,255,255,.05);

font-size:.82rem;

display:flex;

align-items:center;

gap:8px;

}

.safe{

color:#53F28C;

}