.quick-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

margin-top:20px;

}

.quick-card{

background:white;

padding:22px;

border-radius:20px;

display:flex;

flex-direction:column;

align-items:center;

gap:15px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.quick-card:hover{

transform:translateY(-5px);

}

.quick-card svg{

width:34px;

height:34px;

color:#6C63FF;

}