.notification-toast{

position:absolute;

top:0;

left:50%;

transform:translateX(-50%);

width:330px;

background:#111827;

padding:18px;

border-radius:18px;

z-index:5000;

color:white;

backdrop-filter:blur(20px);

box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.notification-toast p{

margin-top:6px;

color:#CBD5E1;

font-size:.9rem;

}