.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.header h1{

color:white;

font-size:40px;

}

.header p{

color:#9CA3AF;

margin-top:8px;

}

.avatar{

width:55px;

height:55px;

border-radius:50%;

background:linear-gradient(135deg,#6C63FF,#7C3AED);

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:bold;

font-size:20px;

box-shadow:0 15px 30px rgba(124,58,237,.35);

}