.incident-card{
background:#111827;
border:1px solid rgba(255,255,255,.06);
padding:18px;
border-radius:18px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:16px;
transition:.35s;
}

.incident-card:hover{
transform:translateY(-3px);
box-shadow:0 10px 30px rgba(124,92,252,.25);
}

.incident-card h3{
color:white;
font-size:18px;
margin-bottom:5px;
}

.incident-card p{
color:#94A3B8;
}

.incident-card span{
color:#64748B;
font-size:13px;
}

.incident-card h4{
margin-top:8px;
color:#7C5CFC;
}