.sos-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.65);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
backdrop-filter:blur(8px);
}

.sos-modal{
width:340px;
background:#101827;
padding:30px;
border-radius:25px;
display:flex;
flex-direction:column;
gap:15px;
}

.sos-modal h2{
color:white;
text-align:center;
margin-bottom:10px;
}

.sos-btn{
border:none;
padding:16px;
font-size:17px;
border-radius:14px;
cursor:pointer;
color:white;
font-weight:600;
}

.red{
background:#ef4444;
}

.blue{
background:#3b82f6;
}

.green{
background:#22c55e;
}

.close-btn{
margin-top:10px;
padding:12px;
border:none;
background:#374151;
color:white;
border-radius:12px;
cursor:pointer;
}