.risk-meter{

display:flex;

justify-content:center;

align-items:center;

position:relative;

margin:35px 0;

}

.risk-meter svg{

transform:rotate(-90deg);

}

.bg{

fill:none;

stroke:#253046;

stroke-width:14;

}

.progress{

fill:none;

stroke:#22C55E;

stroke-width:14;

stroke-linecap:round;

stroke-dasharray:565;

transition:1.2s;

}

.risk-text{

position:absolute;

text-align:center;

}

.risk-text h1{

font-size:54px;

color:white;

}

.risk-text p{

margin-top:8px;

color:#22C55E;

font-weight:bold;

letter-spacing:2px;

}